{% extends "base.html" %}
{% block title %}clappets.com: Home{% endblock title %}

{% block meta_description %}
clappets.com aims at supporting engineers in chemical/hydrocarbon process industries with online engineering calculations, property databases and tables, technical articles and equipment directory services.

The calculation tools available provide full flexibilty to user, by providing the option to save and reload the input data, change the units and generate PDF file reports with user defined document numbers and titles.

There are multiple ways in which the calculations available on this website can be used. They could be used in your browser or  in an automated manner from a calling program  using REST API framework.

To learn more about the calculations available for your discipline - process, mechanical, electrical, instrumentation or civil refer to the respective discipline calculation page.

Made By: Sandeep Raheja
{% endblock meta_description %}

{% block meta_keywords %}Engineering Calculations mechanical process electrical instrumentation civil custom units Oil and Gas Chemical Process Hydrocarbon {% endblock meta_keywords %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box" style="width:100%">
          <p><span style="color:blue; font-weight:bold; font-size:1.5em;" class="is-medium"> Clappets.com </span> aims at supporting engineers in chemical process industries with online calculations, property databases and tables, technical articles and equipment directory services.
          </p>
          <br/>
          <p>
            The calculation tools available provide full flexibilty to user, by providing the option to save and reload the input data, change the units and generate PDF file reports with user defined document numbers and titles. <a href="/static/tutorials/calculation_use.html">Read more...</a>
          </p>
          <br/>
          <p>
            There are multiple ways in which the calculations available on this website can be used. They could be used in your browser or  in an automated manner from a calling program  using REST API framework.
            <a href="/static/content/tutorials/rest_api_tutorial.html">Read more...</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="box">
          <div class="content">
            <h3 class="title is-5">Calculations</h3>
          </div>
            <ul>
              <li style="margin-top:0.5em;"><a href="/calculations/process/">Process</a></li>
              <li style="margin-top:0.5em;"><a href="/calculations/mechanical/">Mechanical</a></li>
              <li style="margin-top:0.5em;"><a href="/calculations/electrical/">Electrical</a></li>
              <li style="margin-top:0.5em;"><a href="/calculations/instrumentation/">Instrumentation</a></li>
              <li style="margin-top:0.5em;">Civil/Structural</li>
              <li style="margin-top:0.5em;">General</li>
            </ul>
        </div>
      </div>
      <div class="column is-8">
        <div class="box">
          <div class="content">
            <h3 class="title is-5">Recently Added Calculations</h3>
            <ul>
              <li style="margin-top:0.5em;"><a href="/calculations/electrical/cables/iec_sizing/">Cable Sizing Calculations based on IEC 30634</a></li>
              <li style="margin-top:0.5em;"><a href="/calculations/electrical/miscellaneous/three_phase/">Electrical Three phase parameter calculation</a></li>
              <li style="margin-top:0.5em;"><a href="/calculations/electrical/motors/starting_time/">Motor Starting Time Calculation</a></li>
              <li style="margin-top:1em;"><a href="/calculations/electrical/lighting/">Common unit conversions in lighting/photometry</a></li>
              <li style="margin-top:1em;"><a href="/calculations/mechanical/engines/gas_turbine_deration/">Gas Turbine Deration Calculation</a></li>
              <li style="margin-top:1em;"><a href="/calculations/mechanical/engines/steam_turbine_performance/">Steam Turbine Performance Calculations</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
