{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block home_active %}is-active{% endblock home_active %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

        <div class="box" style="height:280px; overflow:auto;">
          <h4 class="title is-4">Login</h4>
          <div class="field">
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Username" autofocus="" v-model="username">
              <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input" type="password" placeholder="Password" v-model="password">
            </div>
          </div>
          <div>
            <p class="help is-danger">[[errorMessage]]</p>
          </div>
          <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <button class="button is-primary" @click="logme()" style="width:6em">Login</button>
            </p>
            <p class="control">
              <a href="/" class="button is-light" style="width:6em">Cancel</a>
              </p>
            </div>

            <p class="has-text-grey has-text-centered">
              <a href="/register/">Sign Up</a> &nbsp;·&nbsp;
              <a href="/forgot/">Forgot Password</a> &nbsp;·&nbsp;
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}



{% block script_vueapp %}
<script type="text/javascript">

var app = new Vue({
  el: '#app',
  delimiters: ['[[', ']]'],
  mixins: [app_common],
  data: {
      username : '',
      password : ''
  },
  computed : {},
  methods : {
    logme: function(){
        alert('attempting login');
        this.login();
    }
  }
});

</script>
{% endblock script_vueapp %}
