{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block home_active %}is-active{% endblock home_active %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="box" style="width:100%">
          <h1 class="title is-3">Login</h1>
          <div id="app">
            <div class="field">
              <div class="control">
                <input class="input" type="text" placeholder="Your Username" autofocus="" v-model="username">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input" type="password" placeholder="Your Password" v-model="password">
              </div>
            </div>
            <div class="field">
              <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
            </div>
            <a class="button is-block is-info" @click="get_auth_token()"> Login</a>
            <p>&nbsp;</p>
            <a class="button is-block is-info" @click="get_prot_resource()">Get Protected Resource</a>
        </div>
        </div>
        <p class="has-text-grey">
          <a href="../">Sign Up</a> &nbsp;·&nbsp;
          <a href="../">Forgot Password</a> &nbsp;·&nbsp;
          <a href="../">Need Help?</a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block script_bottom %}
{{ super() }}


<script type="text/javascript">

var app = new Vue({
  el: '#app',
  delimiters: ['[[', ']]'],
  mixins: [],
  data: {
      username : 'joe',
      password : 'billy'
  },
  computed : {},
  methods : {

      get_auth_token: function(){
          alert("u want to login");
          var app = this;
          axios({
                method:'post',
                url:'/login/',
                data: {
                    username : app.username,
                    password : app.password
                }
              })
              .then(function(response) {
                  console.log(response.data);
                  localStorage.setItem('access_token', response.data['access_token']);
              });
      },

      get_prot_resource : function(){
          alert("u want to get a protected resource");
          var app = this;
          axios({
                method:'get',
                url:'/protected/',
                data: {
                    username : app.username,
                    password : app.password
                },
                headers : {
                  Authorization: 'Bearer ' + localStorage.getItem('access_token')
                }
              })
              .then(function(response) {
                  document = response.data
              });
      },
  }
});

</script>
{% endblock script_bottom %}
