{% extends "base.html" %} {% block title %}Calculations{% endblock %} {% block content %}

<div class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/calculations/">Calculations</a></li>
        <li><a href="/calculations/mechanical/">Mechanical</a></li>
        <li class="is-active"><a href="#">Engines</a></li>
      </ul>
    </nav>

    <div class="box">
      <h4 class="title is-4">Gas Turbine, Steam Turbine and Diesel Engines</h4>
    </div>

    <div class="box">
      <div class="content">
        <ul>
          <li><a href="gas_turbine_deration/">Gas Turbine Deration Calculations</a></li>
          <li><a href="steam_turbine_performance/">Steam Turbine Performance Calculations</a></li>
          <li><a href="diesel_fuel_consumption/">Diesel Engine Fuel Consumption Estimation</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
