{% extends "base.html" %}
{% block title %}Calculations{% endblock %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="box">
            <h4 class="title is-4">Control Valves</h4>
        </div>
        <div class="columns">
          <div class="column is-4">
            <div class="card" >
              <div class="card-content" style="height: 170px;">
                <p>
                  Calculate flow coefficient of a control valve passing liquid according to IEC 60534.
                </p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/document/tpl/root/pro/cal/ctv/cvl/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column is-4">
            <div class="card" >
              <div class="card-content" style="height: 170px;">
                <p>
                  Calculate flow coefficient of a control valve passing gas  according to IEC 60534.
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/document/tpl/root/pro/cal/ctv/cvg/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}
