{% extends "base.html" %}
{% block title %}Thermophysical Property Database{% endblock title %}

{% block meta_description %}
Get thermophysical property details of various chemical fluids, hydrocarbon mixtures, water and steam. Property database made using CoolProp engine.
{% endblock meta_description %}

{% block meta_keywords %}Thermophysical property database air water steam hydrocarbon chemical fluid {% endblock meta_keywords %}

{% block content %}
<div class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/calculations/">Calculations</a></li>
        <li><a href="/calculations/process/">Process</a></li>
        <li class="is-active"><a href="#">Thermophysical</a></li>
      </ul>
    </nav>

    <div class="box">
      <h4 class="title is-4">Thermophysical Property Calculations</h4>
    </div>

    <div class="box">
      <div class="content">
        <ul>
          <li><a href="chemical-fluid/">100 + Chemical Fluids</a></li>
          <li><a href="hydrocarbon-mixture/">Hydrocarbons</a></li>
          <li><a href="water-steam/">Water/Steam</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
