{% extends "base.html" %}
{% block title %}Calculations{% endblock %}
{% block content %}

<div class="section">
    <div class="container">
        <div class="box">
            <h4 class="title is-4">Pump Calculations</h4>
        </div>
        <div class="columns">
          <div class="column">
            <div class="card" >
              <div class="card-content" style="height: 170px;">
                <p>Determine Pump Performance on a viscous liquid when performance on water is known</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/document/tpl/root/mec/cal/pmp/w2v/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-content" style="height: 170px;">
                <p>Determine Pump Performance on water when viscous performance is known</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/document/tpl/root/mec/cal/pmp/v2w/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-content" style="height: 170px;">
                <p>
                  Viscosity Conversions
                </p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/document/tpl/root/mec/cal/pmp/vcn/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock content %}
