<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Clappets.com</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bulma.css">
  <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="/static/css/calculator.css">

  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script type="text/javascript" src="/static/js/units.js"></script>
</head>

<body>
  <section class="section">
    <div class="container">
      <div class="columns is-centered" style="border-bottom:0px;">
        <div class="column is-6">
          <nav class="breadcrumb is-right" aria-label="breadcrumbs">
            <ul>
              <li><a href="#"><span class="icon is-small">Home</a></li>
              <li><a href="#"><span>Calculations</span></a></li>
              <li><a href="#"><span>Pump</span></a></li>
              <li><a href="#"><span>Estimation</span></a></li>
            </ul>
          </nav>
          <h1 class="title is-3" style="text-align:center;">Pump Estimations</h1>
          <h2 class="title is-4" style="text-align:center;">(Centrifugal)</h2>

          <div id="app">
            <div class="tabs is-boxed">
              <ul>
                <li v-bind:class="{'is-active': calcPageActive}">
                  <a name="calc_menu" @click="activatePage">Calc</a>
                </li>
                <li v-bind:class="{'is-active': unitsPageActive }">
                  <a name="units_menu" @click="activatePage">Units</a>
                </li>
                <li v-bind:class="{'is-active': helpPageActive }">
                  <a name="help_menu" @click="activatePage">Help</a>
                </li>
              </ul>
            </div>

            <div class="box" v-show="calcPageActive">
              <div class="columns">
                <div class="column">
                  <p>[[ input['Q']['_dim'] ]]</p>
                  <p>[[ input['Q']['_val'] ]]</p>
                  <p>[[ input['H']['_dim'] ]]</p>
                  <p>[[ input['H']['_val'] ]]</p>
                  <p>[[ result['Phydraulic']['_val'] ]]</p>
                </div>
              </div>



              <article class="message is-small is-danger" v-show="errorBoxActive">
                <div class="message-header">
                  <p>Errors</p>
                  <button class="button is-small" aria-label="delete" @click="hideErrorBox"></button>
                </div>
                <div class="message-body">
                  [[ errors]]
                </div>
              </article>

              <a class="button is-primary" style="width:100%" v-on:click="calculate_result">Calculate</a>
            </div>

            <div class="box" v-show="unitsPageActive">
              <div class="columns is-centered">
                <div class="column">
                  <div class="control">
                    <label class="radio"><input type="radio" name="useDefaultUnit" v-model="useDefaultUnits" value="true">Default Units</label>
                    <label class="radio"><input type="radio" name="useDefaultUnit" v-model="useDefaultUnits" value="false">Custom Units</label>
                  </div>
                </div>
              </div>
              <div class="columns" v-for="dimension in dimensions_used ">
                <div class="column is-6" v-text="getDimensionTitle(dimension)"></div>
                <div class="column is-6">
                  <div class="select">
                    <select class="select" v-model="units[dimension]['custom']" :disabled="useDefaultUnits=='true'">
                      <option v-for="unit in getUnits(dimension)" :value="unit['unit']" v-text="unit['label']"></option>
                    </select>
                  </div>
                  <p class="help is-info"></p>
                </div>
              </div>
            </div>
            <div class="box" v-show="helpPageActive">
              There is help here.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/static/js/vue.js"></script>
  <script src="https://unpkg.com/axios@0.16.2/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash@4.17.2/lodash.min.js"></script>

  <script>
  app_model = {}

  app_model['input'] = {
    Q: {
      "_val": "10",
      "_dim": "flow"
    },
    rho: {
      "_val": "10",
      "_dim": "density"
    },
    H: {
      "_val": "10",
      "_dim": "length"
    }
  };

  app_model['result'] = {
    Phydraulic: {
      "_val": "",
      "_dim": "power"
    },
  };
  </script>


  <script>
    var app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        calcPageActive: true,
        unitsPageActive: false,
        helpPageActive: false,
        errorBoxActive: false,

        api_unit_system: "SI",
        useDefaultUnits: 'true',
        units: {
          "length": {
            "custom": "m",
            "default": "m"
          },
          "density": {
            "custom": "kg/m3",
            "default": "kg/m3"
          },
          "speed": {
            "custom": "m/s",
            "default": "m/s"
          },
          "acceleration": {
            "custom": "m/s2",
            "default": "m/s2"
          },
          "power": {
            "custom": "kW",
            "default": "kW"
          },
          "pressure": {
            "custom": "bar",
            "default": "bar"
          },
          "flow": {
            "custom": "m3/hr",
            "default": "m3/hr"
          },
        },

        input: {},
        errors: {},
        result: {},

        },

      computed: {
        dimensions_used: function() {
          dimensions = []
          for (var dimension in this.units) {
            if (this.units.hasOwnProperty(dimension)) {
              dimensions.push(dimension);
            }
          }
          return dimensions;
        },

        units_used: function() {
          myunits = {};
          for (var dimension in this.units) {
            if (this.units.hasOwnProperty(dimension)) {
              myunits[dimension] = this.getUnitUsed(dimension);
            }
          }
          return myunits;
        },

        units_SI: function() {
          SIunits = {};
          for (var dimension in this.units) {
            if (this.units.hasOwnProperty(dimension)) {
              SIunits[dimension] = 0;
            }
          }
          return SIunits;
        }
      },

      watch: {
        units_used: {
          handler: function(new_units, old_units) {
            this.input = this.inputConvert(this.input, old_units, new_units);
          },
          deep: true,
        }
      },


      methods: {
        activatePage: function(event) {
          page_menu = event.target.name;
          this.calcPageActive = false;
          this.unitsPageActive = false;
          this.helpPageActive = false;
          if (page_menu == 'calc_menu') {
            this.calcPageActive = true;
          }
          if (page_menu == 'units_menu') {
            this.unitsPageActive = true;
          }
          if (page_menu == 'help_menu') {
            this.helpPageActive = true;
          }
        },

        hideErrorBox: function() {
          this.errorBoxActive = false;
        },

        calculate_result: function() {
          var app_fs = this;
          input_SI = this.treeUnitConvert(this.input, this.units_used, this.units_SI);
          url = '/calcapi/pump/pumpestimate/';
          axios.post(url, {
              input: input_SI,
            })
            .then(function(response) {
              result_SI = response.data;
              app_fs.result = app_fs.treeUnitConvert(result_SI, app_fs.units_SI, app_fs.units_used);
              app_fs.errors = {};
              app_fs.errorBoxActive = false;
              console.log(response);
            })
            .catch(function(error) {
              app_fs.errors = error.response.data
              app_fs.errorBoxActive = true;
              console.log(error);
            });
        },

        get_error_list: function(path_array) {
          val = this.errors
          try {
            for (var key of path_array) {
              val = val[key]
            }
            return val
          } catch (err) {
            return []
          }
        },

        getDimensionTitle: function(dimension) {
          try {
            return getDimensionTitle(dimension)
          } catch (err) {
            console.log("Error occured in getDimensionTitle trying to fetch dimension '" + dimension + "'");
          }
        },

        getUnits: function(dimension) {
          try {
            return getUnits(dimension)
          } catch (err) {
            console.log("Error occured in getUnits with dimension = '" + dimension + "'");
          }
        },

        getUnitUsed: function(dimension) {
          try {
            useDefault = this.useDefaultUnits;
            if (useDefault == 'true') {
              unit = this.units[dimension]["default"]
            } else {
              unit = this.units[dimension]["custom"]
            }
            return unit
          } catch (err) {
            console.log("Error occured in getUnitUsed with dimension = '" + dimension + "'")
            return 'unknown'
          }
        },

        getUnitLabel: function(dimension) {
          try {
            unitUsed = this.getUnitUsed(dimension)
            unitLabel = getUnitLabel(dimension, unitUsed)
            return unitLabel
          } catch (err) {
            console.log("Error occured in getUnitLabel trying to fetch unitUsed '" + unitUsed + "'")
            return '';
          }
        },

        treeUnitConvert: function(dataobject, fromUnits, toUnits) {
          tree = JSON.parse(JSON.stringify(dataobject));
          return tree;
        },

        return_silent: function(obj, path_array) {
          val = obj
          try {
            for (var key of path_array) {
              val = val[key];
            }
            return val
          } catch (err) {
            return ''
          }
        },

        load_data: function() {
          this.input = app_model.input;
          this.result = app_model.result;
        }


      },

      beforeMount() {
        this.load_data()
      },



    })
  </script>



</body>

</html>
