{% extends "base.html" %} {% block title %}Documentor{% endblock %} {% block documentor_active %}is-active{% endblock documentor_active %} {% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <div id="app">
            <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                {% for bcrumb in context["breadcrumbs"] %}
                <li><a href="{{ bcrumb['href'] }}">{{ bcrumb["name"] }}</a></li>
                {% endfor %}
            </ul>
            </nav>
          <p class="title is-3">{{ context["title"] }}</p>
          <p class="subtitle is-5">{{ context["subtitle"] }}</p>
          <table class="table is-striped" style="width:100%">
            <tr>
              <th style="width:30%">Name</td>
                <th style="width:70%">Title</td>
            </tr>
            {% for subfolder in context["subfolder_list"] %}
            <tr>
                <td>
                    {{ subfolder["name"] }}
                </td>
                <td>
                    <a href="{{ subfolder['name'] }}/" > {{ subfolder["title"] }} </a>
                </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %} {% block script_bottom %} {{ super() }}

<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    mixins: [app_common],
    data: {
    },
    computed: {},
    methods: {}
  })
</script>

{% endblock script_bottom %}
