{% extends "base.html" %} {% block title %}Documentor{% endblock %} {% block documentor_active %}is-active{% endblock documentor_active %} {% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <div id="app">
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              {% for bcrumb in context["breadcrumbs"] %}
              <li><a href="{{ bcrumb['href'] }}">{{ bcrumb["name"] }}</a></li>
              {% endfor %}
            </ul>
          </nav>
          <p class="title is-3">{{ context["title"] }}</p>
          <p class="subtitle is-5">{{ context["subtitle"] }}</p>
          <table class="table is-striped" style="width:100%">
            <tr>
              <th style="width:30%">Doc ID</th>
              <th style="width:50%">Title</th>
              <th style="width:20%">Action</th>
            </tr>
            <tr v-for="doc in doc_list">
              <td>
                [[ doc["id"] ]]
              </td>
              <td>
                 [[ doc["title"] ]]
              </td>
              <td>
                  <a :href="'/htm/documentor/document/edit/' + doc['id'] +'/' ">Edit</a> /
                  <a  @click="delete_resource('doc', doc['id'])">Delete</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %} {% block script_bottom %} {{ super() }}

<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    mixins: [app_common],
    data: {
        //    api_resource_url : "/api/documentor/project/",
            api_url : {
                "doc" : "/api/documentor/document/"
            },
          doc_list: {{doc_list | safe }},
    },
    computed: {},
    methods: {}
  })
</script>

{% endblock script_bottom %}
