{% extends "base.html" %} {% block title %}Documentor{% endblock %} {% block documentor_active %}is-active{% endblock documentor_active %} {% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <div id="app">
            <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li v-for="bc in document_list['breadcrumbs']"><a :href="bc['href']">[[ bc['name'] ]]</a></li>
            </ul>
            </nav>
          <p class="title is-3">Add Document</p>
          <p class="subtitle is-5">Document Instance</p>
          <table class="table is-striped" style="width:100%">
            <tr>
              <td style="width:20%">Project ID</td>
              <td style="width:10%">[[ doc["meta"]['projectID'] ]]</td>
              <td style="width:70%">[[ doc["meta"]['project_title'] ]]</td>
            </tr>
            <tr>
              <td>Discipline</td>
              <td>[[ doc["meta"]['discipline'] ]]</td>
              <td>[[ doc["meta"]['discipline_title'] ]]</td>
            </tr>
            <tr>
              <td>Doc. Category</td>
              <td>[[ doc["meta"]['docCategory'] ]]</td>
              <td>[[ doc["meta"]['docCategory_title'] ]]</td>
            </tr>
            <tr>
              <td>Doc. Sub Category</td>
              <td>[[ doc["meta"]['docSubCategory'] ]]</td>
              <td>[[ doc["meta"]['docSubCategory_title'] ]]</td>
            </tr>
            <tr>
              <td>Doc. Class</td>
              <td>[[ doc["meta"]['docClass'] ]]</td>
              <td>[[ doc["meta"]['docClass_title'] ]]</td>
            </tr>
            <tr>
              <td>Doc. Instance</td>
              <td colspan="2"><input class="input is-small" v-model="doc['meta']['docInstance']"></input>
              </td>
            </tr>
            <tr>
              <td>Doc. Instance Title</td>
              <td colspan="2"><input class="input is-small" v-model="doc['meta']['docInstance_title']"></input>
              </td>
            </tr>
            <tr>
              <td>Doc. ID</td>
              <td colspan="2">[[ doc_id]] </input>
              </td>
            </tr>
          </table>
          <article class="message is-small is-danger" v-show="errorBoxActive" v-cloak>
            <div class="message-header">
              <p>Errors</p>
              <button class="delete is-small" aria-label="delete" @click="hideErrorBox"></button>
            </div>
            <div class="message-body">
              <p>[[ error_status]]</p>
              <p class="help is-danger">[[errors]]</p>
            </div>
          </article>
          <article class="message is-small is-success" v-show="msgBoxActive" v-cloak>
            <div class="message-header">
              <p>Message</p>
              <button class="delete is-small" aria-label="delete" @click="hideMsgBox"></button>
            </div>
            <div class="message-body">
              <p class="help is-success">[[message]]</p>
            </div>
          </article>
          <p>
            <a class="button" @click="add_doc()">Submit</a>
            <a class="button" href="/htm/documentor/project">Go to List</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %} {% block script_bottom %} {{ super() }}

<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    mixins: [app_common],
    data: {
      api_resource_url: "/api/documentor/document",
      htm_list_url: "/htm/documentor/document",
      document_list: {{ document_list | safe }},
      doc: {{doc | safe }},
    },
    computed: {
      doc_id: function() {
        meta = this.doc["meta"]
        id = meta["projectID"] + "-" + meta["discipline"] + "-" + meta["docCategory"] + "-" + meta["docSubCategory"] + "-" + meta["docClass"] + "-" + meta["docInstance"]
        return id
      }
    },
    methods: {}
  })
</script>

{% endblock script_bottom %}
