{% extends "base.html" %}
{% block title %}docuMentor{% endblock title %}
{% block meta_description %}{% endblock meta_description %}
{% block meta_keywords %}{% endblock meta_keywords %}
{% block sharing %}{% endblock sharing %}


{% block navbar_left %}
<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">Document</a>
  <div class="navbar-dropdown">
    <a class="navbar-item" @click="newDoc()">New</a>
    <a class="navbar-item" @click="openModal('uploadModalisActive')">Open</a>
    <a class="navbar-item" @click="saveDoc()">Save</a>
    {% if authenticated %}
    <hr class="navbar-divider">
    <a class="navbar-item" @click="openDocDB()">Open from DB</a>
    <a class="navbar-item" @click="saveDocDB()">Save to DB</a>
    <a class="navbar-item" @click="openModal('saveAsModalisActive')">Save As to DB</a>
    <a class="navbar-item" @click="deleteDocDB()">Delete from DB</a>
    {% endif %}
    <hr class="navbar-divider">
    <a class="navbar-item" @click="pdf_download('doc','/pdf/document/')">PDF Download</a>
    <a class="navbar-item" @click="print()">Print</a>
  </div>
</div>
<a class="navbar-item" @click="openModal('infoModalisActive')">Doc. Info.</a>
<a class="navbar-item" @click="openModal('unitsModalisActive')" v-if="show_units">Units</a>
<a class="navbar-item" @click="calculate()" v-if="show_calculation">Calculate</a>

{% if authenticated %}
<a class="navbar-item" @click="openModal('macroModalisActive')">Macros</a>
{% endif %}

{% endblock navbar_left %}

{% block modals %}
{{ super()}}

<div class="modal hideprint" v-bind:class="{'is-active': infoModalisActive}">
  <div class="modal-background">
  </div>
  <div class="modal-content" style="background-color:white; height: 360px; overflow:auto;padding:20px;">
    <h4 class="title is-4">Document Info</h4>
    <div style="height:180px; overflow:auto;">
      <table class="table" style="width:100%;">
        <tr>
          <td style="width:30%">
            Project ID
          </td>
          <td style="width:70%">
            [[ doc['meta']['projectID'] ]]
          </td>
        </tr>
        <tr>
          <td>
            Project Title
          </td>
          <td>
            [[ doc['meta']['project_title'] ]]
          </td>
        </tr>
        <tr>
          <td>
            Discipline
          </td>
          <td>
            [[ doc['meta']['discipline'] ]]
          </td>
        </tr>
        <tr>
          <td>
            Document Category
          </td>
          <td>
            [[ doc['meta']['docCategory'] ]]
          </td>
        </tr>
        <tr>
          <td>
            Doc Sub Category
          </td>
          <td>
            [[ doc['meta']['docSubCategory'] ]]
          </td>
        </tr>
        <tr>
          <td>
            Doc Class
          </td>
          <td>
            [[ doc['meta']['docClass'] ]]
          </td>
        </tr>
        <tr>
          <td>
            Doc Instance
          </td>
          <td>
            [[ doc['meta']['docInstance'] ]]
          </td>
        </tr>
        <tr>
          <td>
            Doc ID
          </td>
          <td>
            [[ doc_id ]]
          </td>
        </tr>
        <tr>
          <td>
            Doc Instance Title
          </td>
          <td>
            <input type="text" class="input" v-model="doc['meta']['docInstance_title']">
          </td>
        </tr>
        <tr>
          <td>
            Doc No.
          </td>
          <td>
            <input type="text" class="input" v-model="doc['meta']['doc_no']">
          </td>
        </tr>
        <tr>
          <td>
            Rev
          </td>
          <td>
            <input type="text" class="input" v-model="doc['meta']['rev']">
          </td>
        </tr>
        <tr>
          <td>
            Date
          </td>
          <td>
            <input type="date" class="input" v-model="doc['meta']['date']">
          </td>
        </tr>



      </table>
    </div>
    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <button class="button is-primary" @click="closeModal('infoModalisActive')" style="width:6em">Done</a>
        </p>
      </div>
  </div>
</div>


<div class="modal hideprint" v-bind:class="{'is-active': unitsModalisActive}">
  <div class="modal-background">
  </div>
  <div class="modal-content" style="background-color:white; height: 360px; overflow:auto;padding:20px;">
      <h4 class="title is-4">Units</h4>
      <div style="height:180px; overflow:auto;">
        <table class="table" style="width:100%;">
          <tr v-for="dimension in dimensions_used ">
            <td style="width:50%">
              [[ dimension ]]
            </td>
            <td style="width:50%">
              <div class="select" style="width:100%">
                <select v-model="doc.units[dimension]" style="width:100%;">
                        <option v-for="unit in getUnits(dimension)" :value="unit['unit']" v-text="unit['label']" style="width:100%"></option>
                </select>
              </div>
            </td>
          </tr>
        </table>
      </div>
    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <button class="button is-primary" @click="closeModal('unitsModalisActive')" style="width:6em">Done</a>
      </p>
    </div>
  </div>
</div>

<div class="modal hideprint" v-bind:class="{'is-active': macroModalisActive}">
  <div class="modal-background">
  </div>
  <div class="modal-content" style="background-color:white; height: 360px; overflow:auto; padding:20px;">
      <h4 class="title is-4">Units</h4>
      <div style="height:180px; overflow:auto;">
        <table class="table" style="width:100%;">

        </table>
      </div>
    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <button class="button is-primary" @click="closeModal('macroModalisActive')" style="width:6em">Done</a>
      </p>
    </div>
  </div>
</div>

<div class="modal hideprint" v-bind:class="{'is-active': selectionModalisActive}">
  <div class="modal-background">
  </div>
  <div class="modal-content" style="background-color:white; height: 360px; overflow:auto;padding:20px;">
      <h3 class="title is-4" style="margin-bottom:10px;">[[ selectionMenu['title'] ]]</h3>
      <h5 class="title is-6" style="margin-bottom:10px;">[[ selectionMenu['subtitle'] ]]</h5>
      <div style="height:180px; overflow:auto;">
        <table class="table is-bordered" style="width:100%;">
          <tr>
            <th style="width:20%;">Name</th>
            <th style="width:60%;">Title</th>
            <th style="width:20%;">Action</th>
          </tr>
          <tr v-for="subfolder in selectionMenu['subfolder_list']">
            <td>
              [[ subfolder['name'] ]]
            </td>
            <td>
              [[ subfolder['title'] ]]
            </td>
            <td>
              <a @click="execQuery(subfolder['url'])"> Select >> </a>
            </td>
          </tr>
        </table>
      </div>
      <div>
        <p class="help is-danger">[[ errorMessage]]</p>
      </div>

    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <button class="button is-primary" @click="closeModal('selectionModalisActive')" style="width:6em">Cancel</a>
      </p>
    </div>
  </div>
</div>

<div class="modal hideprint" v-bind:class="{'is-active': saveAsModalisActive}">
  <div class="modal-background"></div>
  <div class="modal-content" style="background-color:white; height: 360px; overflow:auto; padding:20px;">
      <h4 class="title is-4">Save As</h4>
      <div style="height:180px; overflow:auto;">
        <table class="table" style="width:100%;">
          <tr>
            <td style="width:50%">
              Project ID
            </td>
            <td style="width:50%">
              <input class="input" v-model="doc['meta']['projectID']">
            </td>
          </tr>
          <tr>
            <td>Project Title</td>
            <td><span>project title</span></td>
          </tr>
          <tr>
            <td>Document Instance</td>
            <td><input class="input" v-model="doc['meta']['docInstance']" /></td>
          </tr>
          <tr>
            <td>Document Instance Title</td>
            <td><input class="input" v-model="doc['meta']['docInstance_title']"></td>
          </tr>
          <tr>
            <td>Document ID</td>
            <td>
              <span>[[ doc_id ]]</span>
            </td>
          </tr>
        </table>
      </div>
    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <button class="button is-primary" @click="saveAsDocDB()" style="width:6em">OK</button>
      </p>
      <p class="control">
        <button class="button is-light" @click="closeModal('saveAsModalisActive')" style="width:6em">Cancel</a>
      </p>
    </div>
  </div>
</div>

<div class="modal hideprint" v-bind:class="{'is-active': uploadModalisActive}">
  <div class="modal-background">
  </div>
  <div class="modal-content" style="background-color:white; maximum-height: 480px; width: 600px; overflow:auto;">
    <form action="/htm/document/" method="post" enctype="multipart/form-data" style="margin:20px;">
      <h4 class="title is-4">Open Document</h4>
      <div class="field">
        <div class="control">
          <input class="input" type="file" placeholder="" name="doc" required>
        </div>
      </div>
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <input class="button is-primary" type="submit" value="Submit">
        </p>
        <p class="control">
          <a class="button is-light" @click="closeModal('uploadModalisActive')">Cancel</a>
        </p>
      </div>
    </form>
  </div>
</div>

<div class="modal hideprint" v-bind:class="{'is-active': loadingModalisActive}">
  <div class="modal-background">
  </div>
  <div class="modal-content" style="background-color:white; maximum-height: 50px; width: 200px;text-align:center">
    <h3 class="title is-3">Please Wait</h3>
  </div>
</div>


<div style="display:none;">
  <a href="" ref="save_anchor">Save Anchor </a>
</div>
{% endblock modals %}

{% block content %}
<div class="section">
  <div class="container">
    <div class="box">
      <p>
        Welcome to docuMentor. This is a webbased editor for documents.
      </p>
      <p>
        Open a new or an existing document, located on your local disk to start.
      </p>

    </div>
  </div>
</div>
{% endblock content %}


{% block disclaimers %}
<div class="section hideprint">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-quarter">
        <p class="is-size-5">Contributors</p>
        <a href="//www.linkedin.com/in/sandeep-raheja">Sandeep Raheja</a>
        {% block contributors %}
        {% endblock contributors %}
      </div>
      <div class="column is-one-quarter">
        <p class="is-size-5">Feedback</p>
        <a href="mailto:contact@codecalculation.com">contact@codecalculation.com</a>.
      </div>
    </div>
  </div>
</div>
{% endblock disclaimers %}



{% block script_bottom %}
{{ super()}}
{% endblock script_bottom %}

{% block script_vueapp %}
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        delimiters : ['[[',']]'],
        mixins: [app_common, app_doc],
        data: {
            doc : {{ doc | safe }},
        },
        computed: {},
        methods: {}
    });
</script>
{% endblock script_vueapp %}
