{% extends "base.html" %}
{% block title %}Process Engineering Calculations{% endblock title %}

{% block meta_description %}
Perform common process engineering calculations.
- Get thermophysical property data for various fluids, hydrocarbon data, water and steam.
- Perform pressure drop calculations for pipes and fittings.
{% endblock meta_description %}

{% block meta_keywords %}process engineering calculation thermophysical pressure drop{% endblock meta_keywords %}

{% block content %}

<div class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/calculations/">Calculations</a></li>
        <li class="is-active"><a href="#">Process</a></li>
      </ul>
    </nav>

    <div class="box">
      <h4 class="title is-4">Process Calculations</h4>
    </div>

    <div class="box">
      <div class="content">
        <ul>
          <li>
            <a href="thermophysical/">Thermophysical Property Calculations</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="pressure-drop/">Pressure Drop Calculations</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
