{% extends "document/document.html" %}
{% block title %}Control Valve Sizing - Gas Service{% endblock title %}

{% block meta_description %}
Control valve sizing for gas service as per IEC 60534
{% endblock meta_description %}

{% block meta_keywords %}
control valves sizing calculation gas service IEC 60534
{% endblock meta_keywords %}

{% block content %}
<div style="overflow:auto;">
<div class="datasheet">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/calculations/">Calculations</a></li>
      <li><a href="/calculations/instrumentation/">Instrumentation</a></li>
      <li class="is-active"><a href="#">Control Valves - Gas Service</a></li>
    </ul>
  </nav>

  <table class="main">
    <thead>
        <tr>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <td colspan="10" style="text-align:right;">
            <i>Calculation Performed at www.codecalculation.com</i>
        </td>
    </tfoot>
    <tbody>
      <tr>
        <td>S#</td>
        <td colspan="8" class="has-text-centered">
            <h1 class="title is-5">[[ doc['meta']['docClass_title'] ]]</h1>
        </td>
        <td>R#</td>
      </tr>
      <tr>
        <td>1</td>
        <td colspan="8">
          <h2 class="title is-6">Inputs</h2>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.1</td>
        <td colspan="4">
          <span class="w14">Temperature (T)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['T']['_val']"/></span>
          <span class="w6">[[ gUL('temperature') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','T'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.1</td>
        <td colspan="4">
          <span class="w14">Molecular Mass (MW)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['MW']['_val']"/></span>
          <span class="w6">[[ gUL('molecularMass') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','MW'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.4</td>
        <td colspan="4">
          <span class="w14">Dynamic Viscosity</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['mu']['_val']"/></span>
          <span class="w6">[[ gUL('dynViscosity') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','mu'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.4</td>
        <td colspan="4">
          <span class="w14">Specific Heat Ratio (k)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['gamma']['_val']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','gamma'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.4</td>
        <td colspan="4">
          <span class="w14">Compressibility Factor (Z)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['Z']['_val']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Z'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.5</td>
        <td colspan="4">
          <span class="w14">Inlet Pressure (P1)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['P1']['_val']"/></span>
          <span class="w6">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','P1'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.6</td>
        <td colspan="4">
          <span class="w14">Inlet Pressure (P2)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['P2']['_val']"/></span>
          <span class="w6">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','P2'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.7</td>
        <td colspan="4">
          <span class="w14">Flow Rate(Q)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['Q']['_val']"/></span>
          <span class="w6">[[ gUL('flow') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Q'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.8</td>
        <td colspan="4">
          <span class="w14">Inlet Pipe Diameter(D1)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['D1']['_val']"/></span>
          <span class="w6">[[ gUL('length_mili') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','D1'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.9</td>
        <td colspan="4">
          <span class="w14">Outlet Pipe Diameter(D2)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['D2']['_val']"/></span>
          <span class="w6">[[ gUL('length_mili') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','D2'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.10</td>
        <td colspan="4">
          <span class="w14">Valve Diameter(d)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['d']['_val']"/></span>
          <span class="w6">[[ gUL('length_mili') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','d'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.11</td>
        <td colspan="4">
          <span class="w14">Pressure Recovery Factor (FL)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['FL']['_val']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','FL'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.12</td>
        <td colspan="4">
          <span class="w14">Valve Style Modifier (Fd)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['Fd']['_val']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Fd'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.12</td>
        <td colspan="4">
          <span class="w24">Pressure difference ratio factor @ choked flow(xT)</span>
          <span class="w6"><input class="inp" type="text" v-model="doc['input']['xT']['_val']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','xT'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
    </tbody>
    <tbody class="hideprint">
      <tr>
        <td></td>
        <td colspan="8">
          <span class="w8">
            <button class="button is-small is-primary" @click="calculate" style="width:100%">Calculate</button>
          </span>
          <span class="w8">
            <button class="button is-small is-primary" @click="openModal('unitsModalisActive')" style="width:100%">Units</button>
          </span>
          <span class="w8">
            <button class="button is-small is-primary" @click="openModal('infoModalisActive')" style="width:100%">Info</button>
          </span>
        </td>
        <td></td>
      </tr>
    </tbody>
    <tbody v-if="doc['errors'].length > 0">
      <tr>
        <td></td>
        <td colspan="8">
          <p class="help is-danger"><b>Errors</b></p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="8">
          <p class="help is-danger" v-for="err in doc['errors']">[[ err ]]</p>
        </td>
        <td></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>2</td>
        <td colspan="8">
          <h2 class="title is-6">Results</h2>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.1</td>
        <td colspan="4">
          <span class="w14">Valve Coefficient (C) Metric</span>
          <span class="w6 result">[[ retSilent(doc, ['result','Cmetric','_val']) ]] </span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
{% endblock content %}


{% block script_vueapp %}
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        delimiters : ['[[',']]'],
        mixins: [app_common, app_doc],
        data: {
            doc : {{ doc | safe }},
            fixed:{
              state_options:["Saturated_T", "Saturated_P", "Superheated_or_Compressed"]
            }
        },
        computed: {
          state : function(){
            return this.doc['input']['state']['_val'];
          }
        },
        methods: {}
    });
</script>
{% endblock script_vueapp %}
