<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Clappets.com</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bulma.css">
  <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="/static/css/calculator.css">

  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script type="text/javascript" src="/static/js/units.js"></script>
</head>

<body>
  <section class="section">
    <div class="container">
      <div class="columns is-centered" style="border-bottom:0px;">
        <div class="column is-6">
          <nav class="breadcrumb is-right" aria-label="breadcrumbs">
            <ul>
              <li><a href="#"><span class="icon is-small">Home</a></li>
              <li><a href="#"><span>Calculations</span></a></li>
              <li><a href="#"><span>Pump</span></a></li>
              <li><a href="#"><span>Estimation</span></a></li>
            </ul>
          </nav>


          <h1 class="title is-3" style="text-align:center;">Pump Estimations</h1>
          <h2 class="title is-4" style="text-align:center;">(Centrifugal)</h2>

          <div id="app">
            <div class="tabs is-boxed">
              <ul>
                <li v-bind:class="{'is-active': pageActive=='calcPage'}">
                  <a name="calcPage" @click="setActivePage">Calc</a>
                </li>
                <li v-bind:class="{'is-active': pageActive=='unitsPage'}">
                  <a name="unitsPage" @click="setActivePage">Units</a>
                </li>
                <li v-bind:class="{'is-active': pageActive=='helpPage'}">
                  <a name="helpPage" @click="setActivePage">Help</a>
                </li>
              </ul>
            </div>

            <div class="box" v-show="pageActive=='calcPage'">
              <div class="columns">
                <div class="column">
                  <h5 class="title is-5">Inputs</h5>
                  <table class="table is-bordered" style="width:100%; max-width:500px;">
                    <tr>
                      <td style="width:40%"><b>Parameter</b></td>
                      <td style="width:20%"><b>Unit</b></td>
                      <td style="width:40%"><b>Value</b></td>
                    </tr>
                    <tr>
                      <td colspan="3"><b>Rated Conditions</b></td>
                    </tr>
                    <tr>
                      <td>Flow Rate</td>
                      <td><span v-text="getUnitLabel(input['Q']['_dim'])"></span></td>
                      <td>
                        <input class="grid" type="number" v-model="input['Q']['_val']">
                        <p class="help is-danger" v-for="err in get_error_list(['input','Q', '_val'])">[[err]]</p>
                      </td>
                    </tr>
                    <tr>
                      <td>Density</td>
                      <td><span v-text="getUnitLabel(input['rho']['_dim'])"></td>
                      <td>
                        <input class="grid" type="number" v-model="input['rho']['_val']">
                        <p class="help is-danger" v-for="err in get_error_list(['input','rho'])">[[err]]</p>
                      </td>
                    </tr>
                    <tr>
                      <td>Differential Head </td>
                      <td><span v-text="getUnitLabel(input['H']['_dim'])"></td>
                      <td>
                        <input class="grid" type="number" v-model="input['H']['_val']">
                        <p class="help is-danger" v-for="err in get_error_list(['input','H'])">[[err]]</p>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

              <div class="columns">
                <div class="column">
                  <h5 class="title is-5">Outputs</h5>
                  <table  class="table is-bordered" style="width:100%">
                    <tr>
                      <td style="width:40%"><b>Parameter</b></td>
                      <td style="width:20%"><b>Unit</b></td>
                      <td style="width:40%"><b>Value</b></td>
                    </tr>
                    <tr>
                      <td style="width:40%">Hydraulic Power</td>
                      <td style="width:20%"><span v-text="getUnitLabel(result['Phydraulic']['_dim'])"></span></td>
                      <td style="width:40%">[[result['Phydraulic']['_val'] ]]</td>
                    </tr>
                  </table>
                </div>
              </div>

              <article class="message is-small is-danger" v-show="errorBoxActive">
                <div class="message-header">
                  <p>Errors</p>
                  <button class="button is-small" aria-label="delete" @click="hideErrorBox"></button>
                </div>
                <div class="message-body">
                  [[ errors]]
                </div>
              </article>

              <a class="button is-primary" style="width:100%" v-on:click="calculate_result">Calculate</a>
            </div>

            <div class="box" v-show="pageActive=='unitsPage'">
              <div class="columns is-centered">
                <div class="column">
                  <div class="control">
                    <label class="radio"><input type="radio" name="useDefaultUnit" v-model="useDefaultUnits" value="true">Default Units</label>
                    <label class="radio"><input type="radio" name="useDefaultUnit" v-model="useDefaultUnits" value="false">Custom Units</label>
                  </div>
                </div>
              </div>
              <div class="columns" v-for="dimension in dimensions_used ">
                <div class="column is-6" v-text="getDimensionTitle(dimension)"></div>
                <div class="column is-6">
                  <div class="select">
                    <select class="select" v-model="units[dimension]['custom']" :disabled="useDefaultUnits=='true'">
                      <option v-for="unit in getUnits(dimension)" :value="unit['unit']" v-text="unit['label']"></option>
                    </select>
                  </div>
                  <p class="help is-info"></p>
                </div>
              </div>
            </div>

            <div class="box" v-show="pageActive=='helpPage'">
              There is help here.
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/static/js/vue.js"></script>
  <script src="https://unpkg.com/axios@0.16.2/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash@4.17.2/lodash.min.js"></script>

  <script type="text/javascript">
    var app_model = {
      data: {
        'units': {
          "length": {
            "custom": "m",
            "default": "m"
          },
          "density": {
            "custom": "kg/m3",
            "default": "kg/m3"
          },
          "power": {
            "custom": "kW",
            "default": "kW"
          },
          "flow": {
            "custom": "m3/hr",
            "default": "m3/hr"
          },
        },

        "rest_api_url": "/calcapi/pump/pumpestimate/",

        'input': {
          H: {
            "_val": "10",
            "_dim": "length"
          },

          Q: {
            "_val": "10",
            "_dim": "flow"
          },
          rho: {
            "_val": "10",
            "_dim": "density"
          },

          test_points: [{
              "a": 1,
              "b": 2
            },
            {
              "a": 1,
              "b": 2
            },
          ],
        },

        'result': {
          Phydraulic: {
            "_val": "",
            "_dim": "power"
          }
        }
      },

      computed: {},
      methods: {}
    };
  </script>
  <script src="/static/js/calc.js"></script>
</body>

</html>
