{% extends "base.html" %}
{% block title %}Electrical Engineering Calculations{% endblock title %}

{% block meta_description %}
Perform electrical engineering calculations related to cables, motors, lighting/photometry etc.
{% endblock meta_description %}

{% block meta_keywords %}calculation Cable Lighting Motors{% endblock meta_keywords %}

{% block content %}

<div class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/calculations/">Calculations</a></li>
        <li class="is-active"><a href="#">Electrical</a></li>
      </ul>
    </nav>

    <div class="box">
      <h4 class="title is-4">Electrical Calculations</h4>
    </div>

    <div class="box">
      <div class="content">
        <ul>
          <li><a href="cables/">Cables</a></li>
          <li><a href="lighting/">Lighting</a></li>
          <li><a href="motors/">Motors</a></li>
          <li><a href="miscellaneous/">Miscellaneous</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
