{% extends "document/document.html" %}
{% block content %}
<div style="overflow:auto;">
<div class="datasheet">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/calculations/">Calculations</a></li>
      <li><a href="/calculations/instrumentation/">Instrumentation</a></li>
      <li><a href="/calculations/instrumentation/relief_valves/">Relief Valves</a></li>
      <li class="is-active"><a href="#">Steam Service</a></li>
    </ul>
  </nav>
  <table class="main">
    <thead>
        <tr>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <td colspan="10" style="text-align:right;">
            <i>Calculation Performed at www.clappets.com</i>
        </td>
    </tfoot>
    <tbody>
      <tr>
        <td>S#</td>
        <td colspan="8" style="text-align:center;">
          <span class="w30 title is-6">[[ doc['meta']['docClass_title'] ]]</span>
        </td>
        <td>R#</td>
      </tr>
      <tr>
        <td>1</td>
        <td colspan="8">
          <span class="w16"><b>Inputs</b></span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="8">
          <span class="w16"><i>PSV Relieving Condition</i></span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.1</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Set Pressure (Pset)</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Pset']['_val']"/></span>
          <span class="w6">[[ gUL('pressure') ]], gauge</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Pset'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.2</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w20">Maximum Allowable Over Pressure (%)</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Pover']['_val']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Pover'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.3</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Superimposed Back Pressure </span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Psuper']['_val']"/></span>
          <span class="w6">[[ gUL('pressure') ]], gauge</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Psuper'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.9</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w20">Superimposed Back Pressure is Constant</span>
          <span class="w6">
            <select class="inp"  v-model="doc['input']['Psuper_is_const']['_val']">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Psuper_is_const'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.3</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Built Back Pressure </span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Pbuiltup']['_val']"/></span>
          <span class="w6">[[ gUL('pressure') ]], gauge</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Pbuiltup'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.3</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Releiving Temperature </span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['T']['_val']"/></span>
          <span class="w6">[[ gUL('temperature') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','T'])">[[err]]</p>
        </td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td colspan="8">
          <span class="w16"><i>Fluid Data</i></span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.8</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Steam State</span>
          <span class="w12">
            <select class="inp" v-model="doc['input']['steam_state']['_val']">
              <option value="saturated">Saturated</option>
              <option value="superheated">Superheated</option>
            </select>
          </span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','steam_state'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-show="steam_state=='superheated'">
        <td>1.3</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Releiving Temperature </span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['T']['_val']"/></span>
          <span class="w6">[[ gUL('temperature') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','T'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.4</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Mass Flow Rate (m)</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['m']['_val']"/></span>
          <span class="w6">[[ gUL('massflow') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','m'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="8">
          <span class="w16"><i>PSV Design Data</i></span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.8</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Valve Design</span>
          <span class="w12">
            <select class="inp" v-model="doc['input']['valve_design']['_val']">
              <option value="Conventional">Conventional</option>
              <option value="Balanced">Balanced</option>
              <option value="Pilot-Operated">Pilot-Operated</option>
            </select>
          </span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','valve_design'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.9</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w20">Combination Rupture Disc Installed</span>
          <span class="w6">
            <select class="inp"  v-model="doc['input']['rupture_disc']['_val']">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','rupture_disc'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.10</td>
        <td colspan="6">
          <span class="w2"></span>
          <span class="w20">Coefficient of Discharge (Kd) as per</span>
          <span class="w10">
            <select class="inp"  v-model="doc['input']['Kd_basis']['_val']">
              <option value="Default">API 520 Default</option>
              <option value="Manual">Manual Input</option>
            </select>
          </span>
        </td>
        <td colspan="2">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Kd_basis'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-if="Kd_basis=='Manual'">
        <td>1.11</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Kd</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Kd_manual']['_val']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Kd_manual'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.10</td>
        <td colspan="6">
          <span class="w2"></span>
          <span class="w20">Backpressure Correction (Kb) as per</span>
          <span class="w10">
            <select class="inp"  v-model="doc['input']['Kb_basis']['_val']">
              <option value="Default">API 520 Default</option>
              <option value="Manual">Manual Input</option>
            </select>
          </span>
        </td>
        <td colspan="2">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Kb_basis'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-if="Kb_basis=='Manual'">
        <td>1.11</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Kb</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Kb_manual']['_val']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Kb_manual'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.12</td>
        <td colspan="6">
          <span class="w2"></span>
          <span class="w20">Correction Factor, Rupture Disc(Kc) as per</span>
          <span class="w10">
            <select class="inp"  v-model="doc['input']['Kc_basis']['_val']">
              <option value="Default">API 520 Default</option>
              <option value="Manual">Manual Input</option>
            </select>
          </span>
        </td>
        <td colspan="2">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Kc_basis'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-if="Kc_basis=='Manual'">
        <td>1.13</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w14">Kc</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Kc_manual']['_val']"/></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Kc_manual'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
    </tbody>
    <tbody class="hideprint">
      <tr>
        <td></td>
        <td colspan="8">
          <span class="w8">
            <button class="button is-small is-primary" @click="calculate" style="width:100%">Calculate</button>
          </span>
          <span class="w8">
            <button class="button is-small is-primary" @click="openModal('unitsModalisActive')" style="width:100%">Units</button>
          </span>
          <span class="w8">
            <button class="button is-small is-primary" @click="openModal('infoModalisActive')" style="width:100%">Info</button>
          </span>
        </td>
        <td></td>
      </tr>
    </tbody>
      <tbody v-if="doc['errors'].length > 0">
        <tr>
          <td></td>
          <td colspan="8">
            <p class="help is-danger"><b>Errors</b></p>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="8">
            <p class="help is-danger" v-for = "err in doc['errors']">[[ err ]]</p>
          </td>
          <td></td>
        </tr>
      </tbody>

      <tbody>
      <tr>
        <td>2</td>
        <td colspan="8">
          <span class="w16"><b>Results</b></span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.1</td>
        <td colspan="2">
          <span class="w2"></span>
          <span class="w12">Valve Design Remark</span>
        </td>
        <td colspan="6">
          <p>
            [[ retSilent(doc, ['result','valve_design_remark','_val']) ]]
          </p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.2</td>
        <td colspan="4">
          <span class="w2"></span>

          <span class="w20">Rated Coefficient of Discharge(Kd)</span>
          <span class="w6 result">[[ retSilent(doc, ['result','Kd','_val']) ]] </span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.3</td>
        <td colspan="4">
          <span class="w2"></span>

          <span class="w20">Backpressure Correction (Kb)</span>
          <span class="w6 result">[[ retSilent(doc, ['result','Kb','_val']) ]] </span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.4</td>
        <td colspan="4">
          <span class="w2"></span>

          <span class="w20"> Rupture Disc Correction Factor(Kc)</span>
          <span class="w6 result">[[ retSilent(doc, ['result','Kc','_val']) ]] </span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.4</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w20">Correction Factor(Kn) for Steam Pressure</span>
          <span class="w6 result">[[ retSilent(doc, ['result','Kn','_val']) ]] </span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.4</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w20">Correction Factor for Steam Superheat (Ksh)</span>
          <span class="w6 result">[[ retSilent(doc, ['result','Ksh','_val']) ]] </span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.6</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w20">Required Effective Discharge Area(A)</span>
          <span class="w6 result">[[ retSilent(doc, ['result','A','_val']) ]] </span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.7</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w20">Orifice Designation (API 526)</span>
          <span class="w6 result">[[ retSilent(doc, ['result','A_letter','_val']) ]] </span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.8</td>
        <td colspan="4">
          <span class="w2"></span>
          <span class="w20">Selected Orifice Discharge Area (A_sel)</span>
          <span class="w6 result">[[ retSilent(doc, ['result','A_sel','_val']) ]] </span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
{% endblock content %}


{% block script_vueapp %}
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        delimiters : ['[[',']]'],
        mixins: [app_common, app_doc],
        data: {
            doc : {{ doc | safe }},
            fixed:{
              state_options:["Saturated_T", "Saturated_P", "Superheated_or_Compressed"]
            }
        },
        computed: {
          viscosity_basis : function(){
            return this.doc['input']['viscosity_basis']['_val'];
          },
          Kd_basis : function(){
            return this.doc['input']['Kd_basis']['_val'];
          },
          Kb_basis : function(){
            return this.doc['input']['Kb_basis']['_val'];
          },
          Kc_basis : function(){
            return this.doc['input']['Kc_basis']['_val'];
          },
          steam_state :function(){
            return this.doc['input']['steam_state']['_val'];
          },
        },
        methods: {}
    });
</script>
{% endblock script_vueapp %}
