{% extends "base.html" %}
{% block title %}Calculations{% endblock %}
{% block content %}

<div class="section">
    <div class="container">
        <div class="box">
            <h4 class="title is-4">Lighting Calculations</h4>
        </div>
        <div class="columns">
          <div class="column">
            <div class="card" >
              <div class="card-content" style="height: 170px;">
                <p>Candelas-Lumens Conversions</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/document/tpl/root/ele/cal/lgt/c2l/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-content" style="height: 170px;">
                <p>Candelas-Lux Conversions</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/document/tpl/root/ele/cal/lgt/c2x/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-content" style="height: 170px;">
                <p>Lumens-Lux Conversion</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/document/tpl/root/ele/cal/lgt/l2x/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="card" >
              <div class="card-content" style="height: 170px;">
                <p>Watts-Lumens Conversions</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/document/tpl/root/ele/cal/lgt/w2l/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-content" style="height: 170px;">
                <p>Watts-Lux Conversions</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/document/tpl/root/ele/cal/lgt/w2x/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-content" style="height: 170px;">
                <p>Watts-Candela Conversion</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/static/spas/calcs/pressuredrop/gasline.html" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
        </div>

    </div>
</div>

{% endblock content %}
