{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
          <div class="box" style="width:100%">
            <h4 class="title is-4">Password Reset</h4>
          </div>
        <div v-show="!show_message">
          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Username" v-model="user['_id']"/>
              <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
              </span>
            </div>
            <p class="help is-danger" v-for="err in getErrs(['schema','_id'])" v-cloak>[[ err ]]</p>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary" v-bind:class="{'is-loading': isLoading}" @click="post_username">Submit</button>
            </div>
            <div class="control">
              <a href="/index" class="button is-light" >Cancel</a>
            </div>
          </div>
        </div>
        <article class="message" v-show="show_message" v-cloak>
          <div class="message-body">
              [[successMessage]]
          </div>
        </article>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock content %}
{% block script_vueapp %}
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    mixins: [app_common],
    data: {
      user: {
          _id : ""
      },
      show_message: false
    },

    methods: {
      post_username: function() {
        var app = this;
        app.add_resource("user", "/api/user/forgot/", function() {
          app.successisActive = false;
          app.show_message = true;
        });
      }
    }
  })
</script>

{% endblock script_vueapp %}
