{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <div v-show="!show_message">
          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left">
              <input class="input is-success" type="text" placeholder="Text input" v-model="user['_id']"/>
              <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
              </span>
            </div>
            <p class="help is-danger" v-for="err in getErrs(['schema','_id'])">[[ err ]]</p>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary" @click="post_username">Submit</button>
            </div>
            <div class="control">
              <button class="button is-light">Cancel</button>
            </div>
          </div>
        </div>
        <article class="message" v-show="show_message">
          <div class="message-header">
            <p>Password Reset Request</p>
          </div>
          <div class="message-body">
              [[successMessage]]
          </div>
        </article>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock content %}
{% block script_vueapp %}
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    mixins: [app_common],
    data: {
      api_url: {
        "user": "/api/user/forgot/"
      },
      user: {
          _id : "Sandeep"
      },
      show_message: false
    },

    methods: {
      post_username: function() {
        var app = this;
        app.add_resource("user", function() {
          app.successisActive = false;
          app.show_message = true;
        });
      }
    }
  })
</script>

{% endblock script_vueapp %}
