{% extends "base.html" %}
{% block title %}Admin-User{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-9">
                <div id="app">
                  <div class="box" style="width:100%">
                    <h4 class="title is-4" v-if="action =='add'" v-cloak>User Registration</h4>
                    <h4 class="title is-4" v-if="action =='edit'" v-cloak>Edit User Account</h4>
                    <h4 class="title is-4" v-if="action =='view'">User Account</h4>
                  </div>

                  <table class="table is-striped" style="width:100%;">
                    <tr>
                      <th>Parameter</td>
                      <th>Value</td>
                    </tr
                    <tr>
                        <td>Username</td>
                        <td><input type="text" class="input" v-model="user['_id']" :readonly = "isReadonly"></input></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="text" class="input" v-model="user['email']" :readonly = "id_isReadonly"></input></td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td><input type="text" class="input" v-model="user['first_name']" :readonly = "isReadonly"></input></td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td><input type="text" class="input" v-model="user['last_name']" :readonly = "isReadonly"></input></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="text" class="input" v-model="user['password']" :readonly = "isReadonly"></input></td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td>
                            <input type="text" class="input" v-model="user['confirm_password']" :readonly = "isReadonly"></input>
                            <p class="help is-danger" v-for="err in  getErrs(['schema', 'confirm_password']) ">[[err ]]</p>
                        </td>
                    </tr>
                  </table>
                    <p>
                        <a class="button"  @click="add_resource('user')" v-if="action =='add'">Submit</a>
                        <a class="button"  @click="update_resource('user', user['_id'])" v-if="action =='edit'">Update</a>
                        <a class="button"  href="/htm/user/">Go to List</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block script_vueapp %}
<script type="text/javascript">
var app = new Vue({
    el: '#app',
    delimiters : ['[[',']]'],
    mixins: [app_common],
    data: {
        action : "{{ action }}",
        api_url : {
            "user" : "/api/user/"
        },
        user : {{ user | safe }},
    },

    computed: {

    },

    methods: {}
})
</script>

{% endblock script_vueapp %}
