{% extends "base.html" %}
{% block title %}Admin-User{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-9">
                <div id="app">
                  <div class="box" style="width:100%">
                    <h4 class="title is-4" v-cloak>Registration Status</h4>
                    <p>[[ regstatus['status'] ]]</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block script_vueapp %}

<script type="text/javascript">
var app = new Vue({
    el: '#app',
    delimiters : ['[[',']]'],
    mixins: [app_common],
    data: {
        api_url : {
            "regstatus" : "/api/user/regstatus/"
        },
        regstatus : {status : ""},
    },

    computed: {},

    methods: {},
    beforeMount: function(){
        this.get_resource("regstatus", "{{ user_id }}");
    }
})
</script>

{% endblock script_vueapp %}
