{% extends "admin.html" %}
{% block title %}Admin-User{% endblock %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <div id="app">
          <div class="box" style="width:100%">
            <h4 class="title is-4">Users</h4>
          </div>
          <table class="table is-striped" style="width:100%">
            <tr>
              <th style="width:20%">Email</td>
              <th style="width:60%">Full Name</td>
              <th style="width:20%">Action</td>
            </tr>
            <tr v-for="user in user_list">
              <td v-text="user['_id']"></td>
              <td> [[user['first_name'] ]] [[ user['last_name'] ]]</td>
              <td>
                <a :href=" '/htm/user/edit/' + user['_id'] +'/'" style="display: inline-block; width:50px;">✎</a>
                <a style="display: inline-block; width:50px;" @click="delete_resource('user', user['_id'])">🗑</a>
              </td>
            </tr>
          </table>
          <a class="button" href="/htm/user/add/">Add New User</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block script_vueapp %}
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    mixins: [app_common],
    data: {
        api_url : {
            "user" : "/api/user/"
        },
      user_list: {{user_list | safe }},
    },
    computed: {},
    method : {}
  })
</script>
{% endblock script_vueapp %}
