{% extends "admin.html" %}
{% block title %}Admin-User{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-9">
                <div class="box" style="width:100%">
                  <h4 class="title is-4" v-if="action =='add'" v-cloak>Add User</h4>
                  <h4 class="title is-4" v-if="action =='edit'" v-cloak>Edit User</h4>
                  <h4 class="title is-4" v-if="action =='view'">View User</h4>
                </div>
                <div v-show="!show_message">
                  <table class="table is-striped" style="width:100%;">
                    <tr>
                      <th>Parameter</td>
                      <th>Value</td>
                    </tr
                    <tr>
                        <td>Username</td>
                        <td><input type="text" class="input" v-model="user['_id']" :readonly = "isReadonly"></input></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="text" class="input" v-model="user['email']" :readonly = "id_isReadonly"></input></td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td><input type="text" class="input" v-model="user['first_name']" :readonly = "isReadonly"></input></td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td><input type="text" class="input" v-model="user['last_name']" :readonly = "isReadonly"></input></td>
                    </tr>
                  </table>
                    <p>
                        <a class="button"  @click="update_user" v-if="action =='edit'">Update</a>
                        <a class="button"  href="/htm/user/">Go to List</a>
                    </p>
                </div>
                <article class="message" v-show="show_message" v-cloak>
                  <div class="message-body">
                      [[successMessage]]
                  </div>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block script_vueapp %}

<script type="text/javascript">
var app = new Vue({
    el: '#app',
    delimiters : ['[[',']]'],
    mixins: [app_common],
    data: {
        action : "{{ action }}",
        user : {{ user | safe }},
        show_message : false
    },

    computed: {},

    methods: {

        add_user: function() {
          var app = this;
          app.add_resource("user","/api/user/", function() {
            app.successisActive = false;
            app.show_message = true;
          });
      },

      update_user: function() {
        var app = this;
        app.update_resource('user', app.user['_id'],"/api/user/", function() {
          app.successisActive = false;
          app.show_message = true;
        });
        },
    }
})
</script>

{% endblock script_vueapp %}
