{% extends "document/document.html" %}
{% block content %}
<div class="datasheet">
  <table class="main">
      <thead>
          <tr>
            <th>S#</th>
            <th>C1</th>
            <th>C2</th>
            <th>C3</th>
            <th>C4</th>
            <th>C5</th>
            <th>C6</th>
            <th>C7</th>
            <th>C8</th>
            <th>R#</th>
          </tr>
      </thead>
      <tfoot>
          <td colspan="10">
              table footer
          </td>
      </tfoot>
    <tbody>
      <tr>
        <td></td>
        <td colspan="8">
          <span class="w16 shead">Calculation</span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1</td>
        <td colspan="8">
          <span class="w16 shead">Inputs</span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.1</td>
        <td colspan="4">
          <span class="w14 shead">Pressure</span>
          <span class="w6 shead"><input class="inp" type="text" v-model="doc['input']['P']['_val']"/></span>
          <span class="w6 shead">[[ gUL('pressure') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td>1.2</td>
        <td colspan="4">
          <span class="w14 shead">Temperature</span>
          <span class="w6 shead"><input class="inp" type="text" v-model="doc['input']['T']['_val']"/></span>
          <span class="w6 shead">[[ gUL('temperature') ]]</span>
        </td>
        <td colspan="4"></td>
        <td></td>
      </tr>
      <tr>
        <td>1.2</td>
        <td colspan="6">
          <span class="w18 shead">Molar Specific Heat Constant Volume</span>
          <span class="w6 shead"><input class="inp" type="text" v-model="doc['input']['T']['_val']"/></span>
          <span class="w6 shead">[[ gUL('temperature') ]]</span>
        </td>
        <td colspan="2"></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}


{% block script_vueapp %}
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        delimiters : ['[[',']]'],
        mixins: [app_common, app_doc],
        data: {
            doc : {{ doc | safe }},
        },
        computed: {},
        methods: {}
    });
</script>
{% endblock script_vueapp %}
