{% extends "document/document.html" %}
{% block content %}
<div class="datasheet">
  <table class="main">
    <thead>
        <tr>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
          <th style="border:0px;">&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <td colspan="10" style="text-align:right;">
            <i>Calculation Performed at www.clappets.com</i>
        </td>
    </tfoot>
    <tbody>
      <tr>
        <td>S#</td>
        <td colspan="8" style="text-align:center;">
          <span class="w30 title is-6">[[ doc['meta']['docClass_title'] ]]</span>
        </td>
        <td>R#</td>
      </tr>
      <tr>
        <td>1</td>
        <td colspan="8">
          <span class="w16"><b>Inputs</b></span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.1</td>
        <td colspan="4">
          <span class="w14">Diesel Engine Power</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Prated']['_val']"/></span>
          <span class="w6">[[ gUL('power') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Prated'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.2</td>
        <td colspan="4">
          <span class="w14">Specific Fuel Consumption</span>
          <span class="w6"><input class="inp" type="number" v-model="doc['input']['Fuel_rate_specific']['_val']"/></span>
          <span class="w6">[[ gUL('specificFuelConsumption') ]]</span>
          <span class="w4"><button class="button is-small is-info" @click="setTypical" style="padding:0px; height:1.5em;">Use Typical</button></span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Fuel_rate_specific'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
    </tbody>
    <tbody class="hideprint">
      <tr>
        <td></td>
        <td colspan="8">
          <span class="w8">
            <button class="button is-small is-primary" @click="calculate" style="width:100%">Calculate</button>
          </span>
          <span class="w8">
            <button class="button is-small is-primary" @click="openModal('unitsModalisActive')" style="width:100%">Units</button>
          </span>
          <span class="w8">
            <button class="button is-small is-primary" @click="openModal('infoModalisActive')" style="width:100%">Info</button>
          </span>
        </td>
        <td></td>
      </tr>
    </tbody>
    <tbody v-if="doc['errors'].length > 0">
      <tr>
        <td></td>
        <td colspan="8">
          <p class="help is-danger"><b>Errors</b></p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="8">
          <p class="help is-danger" v-for="err in doc['errors']">[[ err ]]</p>
        </td>
        <td></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>2</td>
        <td colspan="8">
          <span class="w16"><b>Results</b></span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.7</td>
        <td colspan="4">
          <span class="w14">Fuel Consumption Rate</span>
          <span class="w6 result">[[ retSilent(doc, ['result','Fuel_flow_rate','_val']) ]]</span>
          <span class="w4">[[ gUL('flow') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}


{% block script_vueapp %}
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        delimiters : ['[[',']]'],
        mixins: [app_common, app_doc],
        data: {
            doc : {{ doc | safe }},
        },
        methods: {
          setTypical : function(){
            from_value = 0.26;
            from_unit = "litre/kW.h";
            to_unit = this.doc["units"]["specificFuelConsumption"];
            to_value = unitConvert(from_value, 'specificFuelConsumption', from_unit, to_unit);
            this.doc['input']['Fuel_rate_specific']['_val'] = to_value;
          }
        }
    });
</script>
{% endblock script_vueapp %}
