{% extends "base.html" %}
{% block style %}

@media print {
    .navbar {
        display : None;
    }
    .datasheet {
        font-size : 2.5mm;
    }

    body{
        font-size : 10pt;
    }
}

@media screen {
    .datasheet {
        font-size : 10pt;
    }
}

section.datasheet {
    background-color : white;
    display : block;
    margin: auto;
    width : 68em;
    box-sizing : content-box;
    font-family : Arial, Helvetica, serif;
    letter-spacing: normal;
    line-height : 1.5em;
}

.datasheet table.main{
}

.datasheet table.main tr {

}

.datasheet table.main td, th {
    width : 8em;
    box-sizing : border-box;
    padding: 0.25em;
    vertical-align : top;
}

.datasheet td, th {
    border-top : 1px solid black;
    border-bottom : 0px solid black;
}

.datasheet tr:last-child td, th {
    border-bottom : 1px solid black;
}

.datasheet tr td:first-child{
    width : 2em;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.datasheet tr td:last-child{
    width : 2em;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.datasheet input {
    font-size : 1em;
    height: 1.5em;
    width: 100%;
    border: 0px;
    outline: 0px;
    background-color: #eee;
    box-sizing: border-box;
    font-family : Arial, Helvetica, serif;
}


.datasheet span {
    display : inline-block;
    vertical-align : top;
    height : 100%;
    box-sizing: border-box;
}

.datasheet .w1 {
    width : 1em;
}

.datasheet .w2 {
    width : 2em;
}

.datasheet .w3 {
    width : 3em;
}
.datasheet .w4 {
    width : 4em;
}
.datasheet .w5 {
    width : 5em;
}
.datasheet .w6 {
  width: 6em;
}
.datasheet .w7 {
  width: 7em;
}
.datasheet .w8 {
  width: 8em;
}
.datasheet .w9 {
  width: 9em;
}
.datasheet .w10 {
  width: 10em;
}
.datasheet .w11 {
  width: 11em;
}
.datasheet .w12 {
  width: 12em;
}
.datasheet .w13 {
  width: 13em;
}
.datasheet .w14 {
  width: 14em;
}

.datasheet .w16 {
  width: 16em;
}

.datasheet .w18 {
  width: 18em;
}

.datasheet .w20 {
  width: 20em;
}

.datasheet .w22 {
  width: 22em;
}

.datasheet .w24 {
  width: 24em;
}

.datasheet .w26 {
  width: 26em;
}

.datasheet .w28 {
  width: 28em;
}

.datasheet .w30 {
  width: 30em;
}

{% endblock style %}


{% block content %}


<section class="datasheet">
    <table class="main">
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
        </tr>

        <tr>
          <td>1</td>
          <td colspan="8">
            <span class="w16 shead">Bearings and Lubrication (6.10.1.1)</span>
          </td>
          <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td colspan="4">
                <span class="w14">Bearing(Type/Number) (6.11.4)</span>
                <span class="w5">Radial</span>
                <span class="w5">
                    <input type="text" value="abc"></input>
                </span>
                <span class="w1 c">/</span>
                <span class="w5">
                    <input type="text" value="jkl"></input>
                </span>
            </td>
            <td colspan="4">
                <span class='w24'>Review and approve thrust bearing size (9.2.5.2.4)</span>
                <span class="w6">
                    <input type="text"></input>
                </span>
            </td>
            <td></td>
        </tr>
        <tr>
          <td><span class="sno">3</span></td>
          <td colspan="4">
            <span class="w14">&nbsp;</span>
            <span class="w5">Thrust</span>
            <span class="w5">
                <input type="text"></input>
            </span>
            <span class="w1">/</span>
            <span class="w5">
                <input type="text"></input>
            </span>
          </td>
          <td colspan="4">
          </td>
          <td></td>
        </tr>
        <tr>
          <td><span class="sno">4</span></td>
          <td colspan="4">
            <span class='w18'>Lubrication (6.10.2.2)(6.11.3)(9.6.1)</span>&nbsp;&nbsp;&nbsp;
            <span class='w12'>
                <input  type="text"></input>
            </span>
          </td>
          <td colspan="4">
            <span class='w17'>Pressure Lube System To ISO 10438-</span>
            <span class='w2'>
                <input  type="text"></input>
                <p></p>
            </span>
            <span class="4">(9.2.6.5)</span>
            <span  class="w7" >
                <input type="text"></input>
            </span>
          </td>
          <td><span class="rev"></span></td>
        </tr>
        <tr>
          <td class="sno"><span class="sno">5</span></td>
          <td colspan="4">
          </td>
          <td colspan="4">
            <span class='w24'>ISO 10438 Datasheets Attached</span>
            <span class="w6">
                <input type="text"></input>
            </span>
          </td>
          <td class="rev"></td>
        </tr>
        <tr>
          <td class="sno"><span class="sno">6</span></td>
          <td colspan="4">
            <span class='w24'>Pressurised Lube Oil System mtd. on pump baseplate</span>&nbsp;&nbsp;&nbsp;
            <span class='w6'>
                <input  type="text" value="yes"></input>
            </span>
          </td>
          <td colspan="4">
            <span class='w22'>Location of Press. Lube Oil System on baseplate</span>
            <input class='w8' type="text"></input>
          </td>
          <td class="rev"></td>
        </tr>
        <tr>
          <td class="sno"><span class="sno">7</span></td>
          <td colspan="4">
            <span class='w16'>Interconnecting Piping Provided By</span>&nbsp;&nbsp;&nbsp;
            <input class='w14' type="text"></input>
          </td>
          <td colspan="4">
            <span class='w10'>Oil Viscosity Grade</span><span class="w2">VG</span><input class='w6' type="text"></input>
            <span class="w8">Const Level Oiler</span><input  class="w4" type="text"></input>
          </td>
          <td class="rev"></td>
        </tr>
    </table>
</section>

{% endblock content %}
