{% extends "document/document.html" %}
{% block title %}Viscosity Correction to Viscous Service {% endblock title %}

{% block meta_description %}
Determine pump performance on viscous liquid when water performance is known.
Calculation based on Hydraulic Institute Standard, ANSI/HI 9.6.7. Inputs include flow, head, efficiency,speed, best efficiency point head and flow for water along with viscosity value. Outputs include correction factors on head, flow and efficiency and the viscous head and flow.
{% endblock meta_description %}

{% block meta_keywords %}
viscosity correction Hydraulic Institute Standard, ANSI/HI 9.6.7.
{% endblock meta_keywords %}

{% block content %}
<div style="overflow:auto;">
<div class="datasheet">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/calculations/">Calculations</a></li>
      <li><a href="/calculations/mechanical/">Mechanical</a></li>
      <li class="is-active"><a href="#">Pumps - Water2Viscous</a></li>
    </ul>
  </nav>
  <table class="main">
    <thead>
      <tr>
        <th style="border:0px;">&nbsp;</th>
        <th style="border:0px;">&nbsp;</th>
        <th style="border:0px;">&nbsp;</th>
        <th style="border:0px;">&nbsp;</th>
        <th style="border:0px;">&nbsp;</th>
        <th style="border:0px;">&nbsp;</th>
        <th style="border:0px;">&nbsp;</th>
        <th style="border:0px;">&nbsp;</th>
        <th style="border:0px;">&nbsp;</th>
        <th style="border:0px;">&nbsp;</th>
      </tr>
    </thead>
    <tfoot>
      <td colspan="10" style="text-align:right;">
        <i>Calculation Performed at www.clappets.com</i>
      </td>
    </tfoot>
    <tbody>
      <tr>
        <td>S#</td>
        <td colspan="8" class="has-text-centered">
            <h1 class="title is-5">[[ doc['meta']['docClass_title'] ]]</h1>
        </td>
        <td>R#</td>
      </tr>
      <tr>
        <td>1</td>
        <td colspan="8">
          <h2 class="title is-6">Inputs</h2>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.1</td>
        <td colspan="4">
          <span class="w14">BEP Flow (Water)</span>
          <span class="w6"><input type="number" v-model="doc['input']['Qbep']['_val']"/></span>
          <span class="w6">[[ gUL('flow') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Qbep'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.2</td>
        <td colspan="4">
          <span class="w14">BEP Head (Water)</span>
          <span class="w6"><input  type="number" v-model="doc['input']['Hbep']['_val']"/></span>
          <span class="w6">[[ gUL('length') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Hbep'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.3</td>
        <td colspan="4">
          <span class="w14">Speed</span>
          <span class="w6"><input  type="number" v-model="doc['input']['speed']['_val']"/></span>
          <span class="w6">RPM</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','speed'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.4</td>
        <td colspan="4">
          <span class="w14">Flow (Water)</span>
          <span class="w6"><input  type="number" v-model="doc['input']['Q']['_val']"/></span>
          <span class="w6">[[ gUL('flow') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','Q'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.5</td>
        <td colspan="4">
          <span class="w14">Head (Water)</span>
          <span class="w6"><input  type="number" v-model="doc['input']['H']['_val']"/></span>
          <span class="w6">[[ gUL('length') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','H'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.6</td>
        <td colspan="4">
          <span class="w14">Efficiency (Water)</span>
          <span class="w6"><input  type="number" v-model="doc['input']['eta']['_val']"/></span>
          <span class="w4">%</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','eta'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1.7</td>
        <td colspan="4">
          <span class="w14">Viscosity Basis</span>
          <span class="w12">
            <select   v-model="doc['input']['viscosity_basis']['_val']">
              <option value="kinematic">Kinematic Viscosity</option>
              <option value="dynamic">Dynamic Viscosity</option>
            </select>
          </span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','fueltype'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-show="viscosity_basis=='kinematic'">
        <td>1.8</td>
        <td colspan="4">
          <span class="w14">Kinematic Viscosity (Liquid)</span>
          <span class="w6"><input  type="number" v-model="doc['input']['nu']['_val']"/></span>
          <span class="w6">[[ gUL('kinViscosity') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','nu'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-show="viscosity_basis=='dynamic'">
        <td>1.8</td>
        <td colspan="4">
          <span class="w14">Dynamic Viscosity (Liquid)</span>
          <span class="w6"><input  type="number" v-model="doc['input']['mu']['_val']"/></span>
          <span class="w6">[[ gUL('dynViscosity') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','mu'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
      <tr v-show="viscosity_basis=='dynamic'">
        <td>1.9</td>
        <td colspan="4">
          <span class="w14">Density (Liquid)</span>
          <span class="w6"><input  type="number" v-model="doc['input']['rho']['_val']"/></span>
          <span class="w6">[[ gUL('density') ]]</span>
        </td>
        <td colspan="4">
          <p class="help is-danger" v-for="err in getErrs(['schema','input','rho'])">[[err]]</p>
        </td>
        <td></td>
      </tr>
    </tbody>
    <tbody class="hideprint">
      <tr>
        <td></td>
        <td colspan="8">
          <span class="w8">
            <button class="button is-small is-primary" @click="calculate" style="width:100%">Calculate</button>
          </span>
          <span class="w8">
            <button class="button is-small is-primary" @click="openModal('unitsModalisActive')" style="width:100%">Units</button>
          </span>
          <span class="w8">
            <button class="button is-small is-primary" @click="openModal('infoModalisActive')" style="width:100%">Info</button>
          </span>

        </td>
        <td></td>
      </tr>
    </tbody>
    <tbody v-if="doc['errors'].length > 0">
      <tr>
        <td></td>
        <td colspan="8">
          <p class="help is-danger"><b>Errors</b></p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="8">
          <p class="help is-danger" v-for="err in doc['errors']">[[ err ]]</p>
        </td>
        <td></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>2</td>
        <td colspan="8">
          <h2 class="title is-6">Results</h2>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.1</td>
        <td colspan="4">
          <span class="w20">Kinematic Viscosity</span>
          <span class="w4 result">[[ retSilent(doc, ['result','nu','_val']) ]]</span>
          <span class="w4">[[ gUL('kinViscosity') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>

      <tr>
        <td>2.2</td>
        <td colspan="4">
          <span class="w20">Visc. Correctn. Factor - Flow (Cq) </span>
          <span class="w4 result">[[ retSilent(doc, ['result','Cq','_val']) ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.3</td>
        <td colspan="4">
          <span class="w20">Visc. Correctn. Factor - Head (Ch) </span>
          <span class="w4 result">[[ retSilent(doc, ['result','Ch','_val']) ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.4</td>
        <td colspan="4">
          <span class="w20">Visc. Correctn. Factor - Efficiency (Ceta) </span>
          <span class="w4 result">[[ retSilent(doc, ['result','Ceta','_val']) ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.5</td>
        <td colspan="4">
          <span class="w20">Flow (Viscous)</span>
          <span class="w4 result">[[ retSilent(doc, ['result','Qvis','_val']) ]]</span>
          <span class="w4">[[ gUL('flow') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.6</td>
        <td colspan="4">
          <span class="w20">Head (Viscous)</span>
          <span class="w4 result">[[ retSilent(doc, ['result','Hvis','_val']) ]]</span>
          <span class="w4">[[ gUL('length') ]]</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>2.7</td>
        <td colspan="4">
          <span class="w20">Efficiency (Viscous)</span>
          <span class="w4 result">[[ retSilent(doc, ['result','etavis','_val']) ]]</span>
          <span class="w4">%</span>
        </td>
        <td colspan="4">
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
{% endblock content %}
{% block script_vueapp %}
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    mixins: [app_common, app_doc],
    data: {
      doc: {{doc | safe }},
    },
    computed: {
      viscosity_basis: function() {
        return this.doc['input']['viscosity_basis']['_val'];
      }
    },
    methods: {}
  });
</script>
{% endblock script_vueapp %}
