<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clappets.com</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/css/calculator.css">

    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/javascript" src="/static/js/clappetsunits.js"></script>

</head>

<body>
    <section class="section">
        <div class="container">
            <div class="columns is-centered" style="border-bottom:0px;">
                <div class="column is-6">
                    <nav class="breadcrumb is-right" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="#"><span class="icon is-small">Home</a></li>
                            <li><a href="#"><span>Calculations</span></a></li>
                            <li><a href="#"><span>Noise</span></a></li>
                        </ul>
                    </nav>


                    <h1 class="title is-3" style="text-align:center;">Attenuation with Distance</h1>
                    <h2 class="title is-4" style="text-align:center;"> (Wall Source)</h2>

                    <div id="app">
                        <div class="tabs is-boxed">
                            <ul>
                                <li v-bind:class="{'is-active': calcPageActive}">
                                    <a name="calc_menu" @click="activatePage">Calc</a>
                                </li>
                                <li v-bind:class="{'is-active': infoPageActive }">
                                    <a name="info_menu" @click="activatePage">Info</a>
                                </li>
                                <li v-bind:class="{'is-active': unitsPageActive }">
                                    <a name="units_menu" @click="activatePage">Units</a>
                                </li>
                                <li v-bind:class="{'is-active': helpPageActive }">
                                    <a name="help_menu" @click="activatePage">Help</a>
                                </li>
                            </ul>
                        </div>

                        <div class="box" v-show="calcPageActive">
                            <div class="columns">
                                <div class="column">
                                    <h5 class="title is-5">Inputs</h5>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column is-6">Noise Level @ R1 </div>
                                <div class="column is-6">
                                    <div class="field has-addons">
                                        <p class="control" style="width:100%">
                                            <input class="input" type="number" placeholder="Noise@R1" v-model="SPL1">
                                        </p>
                                        <p class="control">
                                            <a class="button is-static">dB</a>
                                        </p>
                                    </div>
                                    <p class="help is-danger" v-for="error in SPL1_errors">[[ error ]]</p>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-6">R1</div>
                                <div class="column is-6">
                                    <div class="field has-addons">
                                        <p class="control" style="width:100%">
                                            <input class="input" type="number" placeholder="R1" v-model="R1">
                                        </p>
                                        <p class="control">
                                            <a class="button is-static" v-text="unitLengthLabel"></a>
                                        </p>
                                    </div>
                                    <p class="help is-danger" v-for="error in R1_errors">[[ error ]]</p>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-6">R2</div>
                                <div class="column is-6">
                                    <div class="field has-addons">
                                        <p class="control" style="width:100%">
                                            <input class="input" type="number" placeholder="R2" v-model="R2">
                                        </p>
                                        <p class="control">
                                            <a class="button is-static" v-text="unitLengthLabel"></a>
                                        </p>
                                    </div>
                                    <p class="help is-danger" v-for="error in R2_errors">[[ error ]]</p>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-6">Width</div>
                                <div class="column is-6">
                                    <div class="field has-addons">
                                        <p class="control" style="width:100%">
                                            <input class="input" type="number" placeholder="width" v-model="width">
                                        </p>
                                        <p class="control">
                                            <a class="button is-static" v-text="unitLengthLabel"></a>
                                        </p>
                                    </div>
                                    <p class="help is-danger" v-for="error in width_errors">[[ error ]]</p>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-6">Height</div>
                                <div class="column is-6">
                                    <div class="field has-addons">
                                        <p class="control" style="width:100%">
                                            <input class="input" type="number" placeholder="height" v-model="height">
                                        </p>
                                        <p class="control">
                                            <a class="button is-static" v-text="unitLengthLabel"></a>
                                        </p>
                                    </div>
                                    <p class="help is-danger" v-for="error in height_errors">[[ error ]]</p>
                                </div>
                            </div>



                            <div class="columns">
                                <div class="column">
                                    <h5 class="title is-5">Outputs</h4>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-6">SPL2</div>
                                <div class="column is-6">
                                    <div class="field has-addons">
                                        <p class="control" style="width:100%">
                                            <input class="input" type="text" placeholder="SPL2" readonly v-model="SPL2">
                                        </p>
                                        <p class="control">
                                            <a class="button is-static">dB</a>
                                        </p>
                                    </div>
                                    <p class="help is-info"></p>
                                </div>
                            </div>
                            <article class="message is-small is-danger" v-show="errorBoxActive">
                                <div class="message-header">
                                    <p>Errors</p>
                                    <button class="delete is-small" aria-label="delete" @click="hideErrorBox"></button>
                                </div>
                                <div class="message-body">
                                    [[ error]]
                                </div>
                            </article>

                        <a class="button is-primary" style="width:100%" v-on:click="calculate_result">Calculate</a>
                        </div>


                        <div class="box" v-show="infoPageActive">

                            <div class="columns ">
                                <div class="column is-4">Project</label>
                                </div>
                                <div class="column is-8">
                                    <input class="input" type="text" name="" value="">
                                </div>
                            </div>
                            <div class="columns ">
                                <div class="column is-4">Client</label>
                                </div>
                                <div class="column is-8">
                                    <input class="input" type="text" name="" value="">
                                </div>
                            </div>
                            <div class="columns ">
                                <div class="column is-4">Location</label>
                                </div>
                                <div class="column is-8">
                                    <input class="input" type="text" name="" value="">
                                </div>
                            </div>
                            <div class="columns ">
                                <div class="column is-4">Item No.</label>
                                </div>
                                <div class="column is-8">
                                    <input class="input" type="text" name="" value="">
                                </div>
                            </div>

                            <div class="columns ">
                                <div class="column is-4">Purpose</label>
                                </div>
                                <div class="column is-8">
                                    <textarea class="textarea" rows="5" type="text" name="" value=""></textarea>
                                </div>
                            </div>

                            <div class="columns ">
                                <div class="column is-4">Conclusion</label>
                                </div>
                                <div class="column is-8">
                                    <textarea class="textarea" rows="5" type="text" name="" value=""></textarea>

                                </div>
                            </div>

                        </div>


                        <div class="box" v-show="unitsPageActive">
                          <div class="columns is-centered">
                              <div class="column">
                                  <div class="control">
                                      <label class="radio"><input type="radio" name="useDefaultUnit" v-model="useDefaultUnits" value="true">Default Units</label>
                                      <label class="radio"><input type="radio" name="useDefaultUnit" v-model="useDefaultUnits" value="false">Custom Units</label>
                                  </div>
                              </div>
                          </div>

                          <div class="columns">
                              <div class="column is-6">Length</div>
                              <div class="column is-6">
                                  <div class="select">
                                      <select class="select" v-model="unitLengthCustom" :disabled="useDefaultUnits=='true'">
                                          <option value="0" >m</option>
                                          <option value="1">ft</option>
                                        </select>
                                  </div>
                                  <p class="help is-info"></p>
                              </div>
                          </div>
                        </div>

                        <div class="box" v-show="helpPageActive">
                            There is help here.
                        </div>

                </div>
            </div>
        </div>
      </div>
  </section>







    <script src="/static/js/vue.js"></script>
    <script src="https://unpkg.com/axios@0.16.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.17.2/lodash.min.js"></script>


    <script>
        var app = new Vue({
            el: '#app',
            delimiters : ['[[',']]'],
            data: {
                calcPageActive: true,
                infoPageActive: false,
                unitsPageActive: false,
                helpPageActive: false,

                errorBoxActive:false,

                SPL1: '',
                SPL1_errors:[],
                R1: '',
                R1_errors:[],
                R2: '',
                R2_errors:[],
                width: '',
                width_errors:[],
                height: '',
                height_errors:[],


                SPL2: '',
                error : '',
                useDefaultUnits: 'true',
                unitLengthCustom : '0',
                unitLengthDefault : '0',
            },

            computed: {
              unitLength : function(){
                  if (this.useDefaultUnits=='true'){
                      return this.unitLengthDefault;
                  }
                  else {
                      return this.unitLengthCustom;
                  }
              },

              unitLengthLabel: function(){
                  return getUnitLabel('length', this.unitLength);
              },

            },


            methods: {
                activatePage: function(event) {
                    page_menu = event.target.name;
                    this.calcPageActive = false;
                    this.infoPageActive = false;
                    this.unitsPageActive = false;
                    this.helpPageActive = false;
                    if (page_menu == 'calc_menu') {
                        this.calcPageActive = true;
                    }
                    if (page_menu == 'info_menu') {
                        this.infoPageActive = true;
                    }
                    if (page_menu == 'units_menu') {
                        this.unitsPageActive = true;
                    }
                    if (page_menu == 'help_menu') {
                        this.helpPageActive = true;
                    }
                },


                calculate_result : function(){
                    var app = this;
                    url = '/calcapi/noise/distAttenWall/'

                    axios.post(url, {
                      SPL1: app.SPL1,
			                R1:app.R1,
                      R2:app.R2,
                      width:app.width,
                      height:app.height,

                    })
                    .then(function (response) {
                        app.SPL2 = response.data.SPL2
                        console.log(response);
                        app.resetErrors();
                        })
                    .catch(function (error) {
                        app.scanErrors(error);
                    });
                },

                hideErrorBox: function(){
                    this.errorBoxActive=false;
                },

                scanErrors: function(error){
                    this.errorBoxActive = true;
                    this.error = error.response.status + " : " + error.response.statusText;
                    this.SPL1_errors = error.response.data["SPL1"];
                    this.R1_errors = error.response.data["R1"];
                    this.R2_errors = error.response.data["R2"];
                    this.width_errors = error.response.data["width"];
                    this.height_errors = error.response.data["height"];


                },

                resetErrors: function(){
                  this.errorBoxActive = false;
                  this.error = '';
                  this.SPL1_errors = [];
                  this.R1_errors = [];
                  this.R2_errors = [];
                  this.width_errors=[];
                  this.height_errors=[];

                },
            },
        })
    </script>


</body>

</html>
