{% extends "admin.html" %}
{% block title %}Admin-Project{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-9">
                <div id="app">
                  <div class="box" style="width:100%">
                    <h4 class="title is-4" v-if="action =='add'" v-cloak>Add Project</h4>
                    <h4 class="title is-4" v-if="action =='edit'" v-cloak>Edit Project</h4>
                    <h4 class="title is-4" v-if="action =='view'">View Project</h4>
                  </div>

                  <table class="table is-striped" style="width:100%;">
                    <tr>
                      <th>Parameter</td>
                      <th>Value</td>
                    </tr>
                    <tr>
                        <td>Project ID</td>
                        <td><input type="text" class="input" v-model="project['_id']" :readonly = "id_isReadonly"></input></td>
                    </tr>
                    <tr>
                        <td>Project Title</td>
                        <td><input type="text" class="input" v-model="project['title']" :readonly = "isReadonly"></input></td>
                    </tr>
                    <tr>
                        <td>Admin ID</td>
                        <td><input type="text" class="input" v-model="project['admin_id']" :readonly = "isReadonly"></input></td>
                    </tr>
                  </table>
                    <p>
                        <a class="button"  @click="add_resource('project')" v-if="action =='add'">Submit</a>
                        <a class="button"  @click="update_resource('project', project['_id'])" v-if="action =='edit'">Update</a>
                        <a class="button"  href="/htm/project/">Go to List</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block script_vueapp %}

<script type="text/javascript">
var app = new Vue({
    el: '#app',
    delimiters : ['[[',']]'],
    mixins: [app_common],
    data: {
        action : "{{ action }}",
        api_url : {
            "project" : "/api/project/"
        },
        project : {{ project | safe }},
    },

    computed: {

    },

    methods: {}
})
</script>

{% endblock script_vueapp %}
