{% extends "base.html" %} {% block title %}Calculations{% endblock %} {% block content %}
<div class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li class="is-active"><a href="#">Calculations</a></li>
      </ul>
    </nav>
    <div class="box">
      <h4 class="title is-4">Calculations</h4>
    </div>
    <div class="box">
      <div class="content">
        <ul>
          <li style="margin-top:0.5em;"><a href="/calculations/process/">Process</a></li>
          <li style="margin-top:0.5em;"><a href="/calculations/mechanical/">Mechanical</a></li>
          <li style="margin-top:0.5em;"><a href="/calculations/electrical/">Electrical</a></li>
          <li style="margin-top:0.5em;"><a href="/calculations/instrumentation/">Instrumentation</a></li>
          <li style="margin-top:0.5em;"><a href="/calculations/civil/">Civil/Structural</a></li>
          <li style="margin-top:0.5em;"><a href="/calculations/general/">General</a></li>
        </ul>
      </div>
    </div>



    <!--
        <div class="columns">
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                <h6 class="title is-6">Property Database</h6>
                <p>
                Get thermophysical properties of water/steam/ice, 100+ chemical substances,
                hydrocarbons and mixtures.
                </p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/calc/thermochem/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                <h6 class="title is-6">Pressure Drop</h6>
                <p>Perform Pressure Drop and Line sizing calculations for liquid and gas lines</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/calc/pressuredrop/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                <h6 class="title is-6">Piping</h6>
                <p>Perform common piping calculations and get dimensions of standard items</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/calc/piping/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
        </div>





        <div class="columns">
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                  <h6 class="title is-6">Pumps</h6>
                <p>Perform preliminary sizing, selection, basic engineering estimation and corrections related to Pumps</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/calc/pump/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                  <h6 class="title is-6">Compressors/Fans</h6>
                <p>Perform preliminary sizing, selection, basic engineering estimation and corrections related to Compressors &amp; Fans</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="#" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                  <h6 class="title is-6">Turbines/Engines</h6>
                <p>Perform fuel/steam consumption and deration calculations for turbines and engines</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/calc/engines/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                <h6 class="title is-6">Vessels/Tanks</h6>
                <p>Perform Vessel/Tank Geometry and Thickness calculations. </p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="#" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                <h6 class="title is-6">Flares</h6>
                <p>Perform Flare Height calculations. </p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="#" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                <h6 class="title is-6">Heat Exchangers</h6>
                <p>Perform Air Cooler Size Estimation</p>
                <p>Perform thermal rating evaluation of Shell & Tube Heat Exchangers</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="#" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                <h6 class="title is-6">Fired Heaters</h6>
                <p>Perform API 560 combustion calculations</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="#" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                <h6 class="title is-6">Relief Valves</h6>
                <p>Perform Calculations for sizing of relief valves</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/calc/reliefvalves/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                <h6 class="title is-6">Control Valves</h6>
                <p>Perform Calculations for sizing of control valves</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/calc/controlvalves/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                <h6 class="title is-6">Noise</h6>
                <p>Get Sound Pressure Level at a distance from Noise Source</p>
                <p>Perform Noise addition calculations from multiple sources at a point</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/calc/noise/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                <h6 class="title is-6">Emissions</h6>
                <p>Convert Emission Data from Source in appropriate units</p>
                <p>Get estimated SOx emissions from fuel bound sulphur.</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="#" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                <h6 class="title is-6">Materials</h6>
                <p>Check for NACE MR-0175 applicability</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="#" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                <h6 class="title is-6">Lighting</h6>
                <p>Supporting Calculations for Lighting Design</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/calc/lighting/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                <h6 class="title is-6">Motors</h6>
                <p>Supporting Calculations for Electrical Motor Selection and Design. </p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/calc/motors/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card" style="margin:auto;">
              <div class="card-content" style="height: 200px;">
                <h6 class="title is-6">Cables</h6>
                <p>Supporting Calculations for Electrical Cable sizing.</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/calc/cables/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
        </div>
      -->


  </div>
</div>

{% endblock content %}
