{% extends "base.html" %}
{% block title %}Calculations{% endblock %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="box">
            <h4 class="title is-4">Piping</h4>
        </div>
        <div class="columns">
          <div class="column is-4">
            <div class="card" >
              <div class="card-content" style="height: 170px;">
                <p>
                  Nearest Pipe Dimensions to ANSI/ASME B36.10/19
                </p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span><a href="/htm/document/tpl/root/mec/cal/pip/sch/" class="button is-primary">View>></a></span>
                </p>
              </footer>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}
